<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>0_Introduction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- First: css req'd for bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <!-- Second: req'd for style mod -->
  <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
  <!-- <script src="main.js"></script> -->
</head>

<body>
  <!-- navbar_Start -->
  <nav class="navbar navbar-dark" style="background-color: #560088;">
    <a class="navbar-brand" href="#">
      <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      JobVizzY
    </a>
    <a class="nav-link active" href="#">0.PROFILER</a>
    <a class="nav-link" href="#">1.Scraper</a>
    <a class="nav-link" href="#">2.GeoBubbler</a>
    </a>
  </nav>
  <!-- main navbar ends-->

  <ul class="nav justify-content-center" style="background-color: #bb7dee">
    <li class="nav-item">
      <a class="nav-link disabled" href="#">PR02:Full-Stack Web Framework ATTILA|OMER|OSAME</a>
    </li>
  </ul>
  <br>
  <!-- second navbar only for decoration -->
  <!--  navbar_End-->


  <!-- First row -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center" style="background-color: #98dae49f">
          <img src="../assets/img/jobVizzy_logoSmall.png">
        </div>
        <ul style="list-style-type:circle">
          <li>Welcome to JobVizzy, a mobile-friendly full stack web development project created as a team project by
            three coding bootcamp
            students:Attila Turkoz, Omer Kurban and Osame Ben Ismael.
          </li>
          <li>
            Firstly the app requests user preferences, such as city, state, job titles and min salary to store in a
            JavaScript file-the infamous cookies!
          </li>
          <li>
            Extracts hundreds and thousands of job listings to user with a single tap/click with 'Scraper' using
            BeautifulSoup, requests and Splinter modules of Python.
          </li>
          <li>
            Transforms web data to open source database platform MongoDB and stores in lighter JSON format for smooth
            transfer.
          </li>
          <li>
            Loads the job listings to user home page rendering tables in responsive, mobile-friendly web pages created
            with various Bootstrap components.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info" role="alert" align="center">
          <b>* * * FIRST MODULE: PROFILER* * * </b>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- first box from left -->
      <div class="col-sm-6">
        <li class="list-group-item list-group-item-info">
          <h4>
            Welcome/User Input
          </h4>
        </li>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul style="list-style-type:circle">
              <li>Welcome to JobVizzy, a full stack web framework created by three coding bootcamp students:
              </li>
              <p>Attila Turkoz<br>
                Omer Kurban<br>
                Osame Ben Ismael
              </p>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            01
          </li>
          <li class="list-group-item">
            02
          </li>
          <li class="list-group-item">
            03
          </li>
          <li class="list-group-item">
            04
          </li>
        </ul>
      </div>
    </div>
  </div><br>









  <!-- BOTTOM_JQ_POPPER_JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- BOTTOM_end -->
</body>

</html>
